# Python version (note: streamlit cloud uses Advanced settings; this line is only informational)
python==3.12.8

streamlit
pandas==2.2.2
numpy==1.25.2
scikit-learn==1.2.2
joblib==1.3.2
xgboost==1.7.6
plotly==5.15.0
matplotlib==3.8.0
fpdf2==2.6.0
python-dateutil==2.8.2
pytz==2024.7

# optional/dev (not necessary to install in production)
black==24.3.0
isort==5.12.0
