# Python version
python==3.12.8

# Core app
streamlit
pandas
numpy

# ML model loading & preprocessing
scikit-learn
joblib
xgboost

# Visualisation & plotting
plotly
matplotlib

# PDF generation
fpdf2

# Utilities
python-dateutil
pytz

